# {{ ansible_managed }}

global_defs {
    vrrp_version 2
    vrrp_iptables
    vrrp_no_swap
    checker_no_swap
}

vrrp_script nginx_status {
    script "/usr/bin/curl -sf http://{{ nginx.status_socket }}/status"
    interval {{ keepalived.nginx_status.interval }}
    timeout {{ keepalived.nginx_status.timeout }}
    rise {{ keepalived.nginx_status.rise }}
    fall {{ keepalived.nginx_status.fall }}
}


{% for i in keepalived.vrrp_instances|dict2items %}
vrrp_instance {{ i.value.name }} {
    interface {{ i.value.interface }}
    {% if i.value.name == keepalived_host.vrrp_instances.a.name %}
priority {{ keepalived_host.vrrp_instances.a.priority }}
    {% elif i.value.name == keepalived_host.vrrp_instances.b.name %}
priority {{ keepalived_host.vrrp_instances.b.priority }}
    {% elif i.value.name == keepalived_host.vrrp_instances.c.name %}
priority {{ keepalived_host.vrrp_instances.c.priority }}
    {% endif -%}

    virtual_router_id {{ i.value.virtual_router_id }}
    authentication {
        auth_type PASS
        auth_pass {{ i.value.auth_pass }}
    }
    virtual_ipaddress {
        {{ i.value.virtual_ipaddress }}
    }
    track_script {
        nginx_status
    }
}

{% endfor %}
