# {{ ansible_managed }}

[Unit]
Description             = MinIO
Documentation           = https://docs.min.io
Wants                   = network-online.target
After                   = network-online.target
AssertFileIsExecutable  = {{ minio.binary }}

[Service]
WorkingDirectory        = {{ minio.workdir }}
User                    = {{ minio.user }}
Group                   = {{ minio.user }}
EnvironmentFile         = /etc/default/minio-{{ item.value.name }}

ExecStart               = {{ minio.binary }} server $MINIO_OPTS $MINIO_VOLUMES
Restart                 = always
LimitNOFILE             = 65536
TimeoutStopSec          = infinity
SendSIGKILL             = no

[Install]
WantedBy                = multi-user.target
Alias                   = minio-server-{{ item.value.name }}.service
