# {{ ansible_managed }}

user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 768;
    multi_accept on;
}

http {
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    gzip on;
    keepalive_timeout 65;
    types_hash_max_size 2048;
    server_tokens off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

{% for i in minio.tenants|dict2items %}
    upstream {{ i.value.name }} {
        ip_hash;
{% for j in groups.s3 %}
        server {{ j }}:{{ i.value.port }} max_fails=5 fail_timeout=15s;
{% endfor %}
    }

{% endfor %}

{% for i in minio.tenants|dict2items %}
    server {

        listen 0.0.0.0:{{ i.value.port }};

        server_name {{ minio.domain }};

        ignore_invalid_headers off;
        client_max_body_size 0;
        proxy_buffering off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_connect_timeout  300;
        proxy_http_version 1.1;
        proxy_set_header Connection "";

        location / {
            proxy_pass http://{{ i.value.name }};
        }
    }

{% endfor %}


    server {
        listen {{ nginx.status_socket }};
        server_name status.localhost;

{% for i in nginx.status_allow_from %}
        allow {{ i }};
{% endfor %}
        deny all;

        location = /status {
            stub_status;
        }
    }
}
